.green{
  color: green;
}

.red{
  color: red;
}

.top-25{
  margin-top: 25px;
}

.bot-25{
  margin-bottom: 25px;
}
.error{
  border: 3px solid #d50000;
  padding: 2px 5px;
  color:#f60000;
  display: inline-block;
} 
@page{margin:0px auto;}
#mrc{margin:0px auto;}
#mrc td{
  border:solid windowtext 0.5pt;
  padding:-0.7in 5.4pt -0.7in 5.4pt;
  color: black;
  font-family: 'Verdana';
  font-weight: normal;
  vertical-align: top;
}
#mrc tr:first td{
  border:none;
  padding:none;
}

#mrc table{
  width:690px;
}
#mrc table tr{width:600px;}
#mrc table td{
  border:1px solid black;
  background-color:#9CF;
  width:1%;
}
#mrc table td:only-child{
  background-color:#CCFFFF;
}

#bc{margin:0px auto;}
#bc td{
  border:solid windowtext 0.5pt;
  padding:-0.7in 5.4pt -0.7in 5.4pt;
  color: black;
  font-family: 'Verdana';
  font-weight: normal;
  vertical-align: top;
}
#bc tr:first td{
  border:none;
  padding:none;
}

#bc table{
  width:890px;
}
#bc table tr{width:800px;}
#bc table td{
  border:1px solid black;
  background-color:#9CF;
  width:1%;
}
#bc table td:only-child{
  background-color:#CCFFFF;
}

