/*

HOW TO CREATE A UPLOAD FORM [TUTORIAL]

"How to create a Upload Form [Tutorial]" was specially made for DesignModo by our friend Valeriu Timbuc.

Links:
http://vtimbuc.net/
https://twitter.com/vtimbuc
http://designmodo.com
http://vladimirkudinov.com

*/

/* Reset */
.upload-form,
.upload-form div,
.upload-form span,
.upload-form input,
.upload-form a,
.upload-form h1,
.upload-form p {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
}

/* Form Container */
.upload-form {
    position: relative;
    z-index: 200;
    cursor: default;
    width: 300px;
    min-height: 50px;
    padding: 25px 25px 65px 25px;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;

    background: url(../img/upload-bg.png);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.1) 100%), url(../img/upload-bg.png);
    background: -moz-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.1) 100%), url(../img/upload-bg.png);
    background: -o-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.1) 100%), url(../img/upload-bg.png);
    background: -ms-linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.1) 100%), url(../img/upload-bg.png);
    background: linear-gradient(top, rgba(255,255,255,0.1) 0%, rgba(0,0,0,0.1) 100%), url(../img/upload-bg.png);
}

/* Clear Floats */
.upload-form .cb { clear: both; }

/* Form Title */
.upload-form h1 {
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    color: #f6f6f6;
    text-shadow: 0px 1px 1px rgba(0,0,0, .65);
    padding-bottom: 2px;
    border-bottom: 1px solid #7a7b80;
}

/* Replace Title with Image */
.upload-form h1.replace-text {
    display: block;
    width: 100%;
    height: 17px;
    padding-bottom: 7px;
    text-indent: -9999px;
    background: url(../img/title.png) no-repeat left center;
}

/* Close Button */
.upload-form .close {
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
    top: 28px;
    right: 24px;
}

/* Paragraph */
.upload-form p {
    padding: 10px 0;
    font-family: sans-serif;
    font-size: 12px;
    color: #a4a5a8;
}

/* Select & Upload Buttons */
.upload-form .button {
    display: inline-block;
    height: 30px;
    margin: 15px 0;
    
    font-family: sans-serif;
    font-size: 14px;
    color: #777;
    
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    line-height: 30px;
    
    background: #ffffff;
    background: -webkit-linear-gradient(top, #ffffff 0%, #f6f6f6 100%);
    background: -moz-linear-gradient(top, #ffffff 0%, #f6f6f6 100%);
    background: -o-linear-gradient(top, #ffffff 0%, #f6f6f6 100%);
    background: -ms-linear-gradient(top, #ffffff 0%, #f6f6f6 100%);
    background: linear-gradient(top, #ffffff 0%, #f6f6f6 100%);
}

.upload-form .button:hover {
    background: #f2f2f2;
    background: -webkit-linear-gradient(top, #f2f2f2 0%, #eaeaea 100%);
    background: -moz-linear-gradient(top, #f2f2f2 0%, #eaeaea 100%);
    background: -o-linear-gradient(top, #f2f2f2 0%, #eaeaea 100%);
    background: -ms-linear-gradient(top, #f2f2f2 0%, #eaeaea 100%);
    background: linear-gradient(top, #f2f2f2 0%, #eaeaea 100%);
}

.upload-form #pickfiles {
    width: 99px;
    float: left;
    border-right: 1px solid #999;

    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
.upload-form #pickfiles2 {
    width: 99px;
    float: left;
    border-right: 1px solid #999;

    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
.upload-form #manage_pickfiles {
    width: 99px;
    float: left;
    border-right: 1px solid #999;

    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
.upload-form #edit_pickfiles{
    width: 99px;
    float: left;
    border-right: 1px solid #999;

    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}

.upload-form #uploadfiles {
    width: 100px;
    float: right;

    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
.upload-form #uploadfiles2 {
    width: 100px;
    float: right;

    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
.upload-form #manage_uploadfiles {
    width: 100px;
    float: right;

    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}
.upload-form #edit_uploadfiles {
    width: 100px;
    float: right;

    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
}

/* Added Files */
.upload-form .addedFile {
    position: relative;
    display: block;
    overflow: hidden;
    word-break: break-all;
    margin-bottom: 5px;
    padding: 0 25px 0 25px;
    height: 30px;
    
    font-family: sans-serif;
    font-size: 12px;
    line-height: 30px;
    color: #646464;

    background: #f6f6f6 url(../img/file.png) no-repeat 5px center;

    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/* Remove File Button */
.upload-form a.removeFile {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    top: 10px;
    right: 10px;
    background: url(../img/remove-file.png);
}

/* Progress Bar */
.upload-form .ui-progressbar,
.upload-form .ui-progressbar-value {
    position: relative;
    height: 4px;
    
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.upload-form .ui-progressbar {
    cursor: pointer;
    margin: 15px 0 20px 0;
    background: #242424;

    -webkit-box-shadow: 0px 1px 0px rgba(255,255,255, .1);
    -moz-box-shadow: 0px 1px 0px rgba(255,255,255, .1);
    box-shadow: 0px 1px 0px rgba(255,255,255, .1);
}

.upload-form .ui-progressbar-value {
    background: #82d344;
    background: -webkit-linear-gradient(top, #82d344 0%, #51af34 100%);
    background: -moz-linear-gradient(top, #82d344 0%, #51af34 100%);
    background: -o-linear-gradient(top, #82d344 0%, #51af34 100%);
    background: -ms-linear-gradient(top, #82d344 0%, #51af34 100%);
    background: linear-gradient(top, #82d344 0%, #51af34 100%);
}

.upload-form .ui-progressbar-value span.progressTooltip {
    position: absolute;
    display: block;
    width: 36px;
    height: 14px;
    padding: 5px 0 4px 0;
    top: 10px;
    right: -18px;

    font-family: sans-serif;
    font-weight: bold;
    line-height: 14px;
    text-align: center;
    font-size: 12px;
    color: #646464;

    background: transparent url(../img/tooltip.png) no-repeat;
}

/* Progress Bar for thum nail */
.upload-form .ui-progressbar2,
.upload-form .ui-progressbar-value {
    position: relative;
    height: 4px;
    
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.upload-form .ui-progressbar2 {
    cursor: pointer;
    margin: 15px 0 20px 0;
    background: #242424;

    -webkit-box-shadow: 0px 1px 0px rgba(255,255,255, .1);
    -moz-box-shadow: 0px 1px 0px rgba(255,255,255, .1);
    box-shadow: 0px 1px 0px rgba(255,255,255, .1);
}

.upload-form .ui-progressbar-value {
    background: #82d344;
    background: -webkit-linear-gradient(top, #82d344 0%, #51af34 100%);
    background: -moz-linear-gradient(top, #82d344 0%, #51af34 100%);
    background: -o-linear-gradient(top, #82d344 0%, #51af34 100%);
    background: -ms-linear-gradient(top, #82d344 0%, #51af34 100%);
    background: linear-gradient(top, #82d344 0%, #51af34 100%);
}

.upload-form .ui-progressbar-value span.progressTooltip {
    position: absolute;
    display: block;
    width: 36px;
    height: 14px;
    padding: 5px 0 4px 0;
    top: 10px;
    right: -18px;

    font-family: sans-serif;
    font-weight: bold;
    line-height: 14px;
    text-align: center;
    font-size: 12px;
    color: #646464;

    background: transparent url(../img/tooltip.png) no-repeat;
}

/* Progress Bar for manage photo*/
.upload-form .ui-manage_progressbar,
.upload-form .ui-progressbar-value {
    position: relative;
    height: 4px;
    
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.upload-form .ui-manage_progressbar {
    cursor: pointer;
    margin: 15px 0 20px 0;
    background: #242424;

    -webkit-box-shadow: 0px 1px 0px rgba(255,255,255, .1);
    -moz-box-shadow: 0px 1px 0px rgba(255,255,255, .1);
    box-shadow: 0px 1px 0px rgba(255,255,255, .1);
}

.upload-form .ui-progressbar-value {
    background: #82d344;
    background: -webkit-linear-gradient(top, #82d344 0%, #51af34 100%);
    background: -moz-linear-gradient(top, #82d344 0%, #51af34 100%);
    background: -o-linear-gradient(top, #82d344 0%, #51af34 100%);
    background: -ms-linear-gradient(top, #82d344 0%, #51af34 100%);
    background: linear-gradient(top, #82d344 0%, #51af34 100%);
}

.upload-form .ui-progressbar-value span.progressTooltip {
    position: absolute;
    display: block;
    width: 36px;
    height: 14px;
    padding: 5px 0 4px 0;
    top: 10px;
    right: -18px;

    font-family: sans-serif;
    font-weight: bold;
    line-height: 14px;
    text-align: center;
    font-size: 12px;
    color: #646464;

    background: transparent url(../img/tooltip.png) no-repeat;
}

/* Progress Bar for manage thumnail */
.upload-form .ui-edt_progressbar,
.upload-form .ui-progressbar-value {
    position: relative;
    height: 4px;
    
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
}

.upload-form .ui-edit_progressbar2 {
    cursor: pointer;
    margin: 15px 0 20px 0;
    background: #242424;

    -webkit-box-shadow: 0px 1px 0px rgba(255,255,255, .1);
    -moz-box-shadow: 0px 1px 0px rgba(255,255,255, .1);
    box-shadow: 0px 1px 0px rgba(255,255,255, .1);
}

.upload-form .ui-progressbar-value {
    background: #82d344;
    background: -webkit-linear-gradient(top, #82d344 0%, #51af34 100%);
    background: -moz-linear-gradient(top, #82d344 0%, #51af34 100%);
    background: -o-linear-gradient(top, #82d344 0%, #51af34 100%);
    background: -ms-linear-gradient(top, #82d344 0%, #51af34 100%);
    background: linear-gradient(top, #82d344 0%, #51af34 100%);
}

.upload-form .ui-progressbar-value span.progressTooltip {
    position: absolute;
    display: block;
    width: 36px;
    height: 14px;
    padding: 5px 0 4px 0;
    top: 10px;
    right: -18px;

    font-family: sans-serif;
    font-weight: bold;
    line-height: 14px;
    text-align: center;
    font-size: 12px;
    color: #646464;

    background: transparent url(../img/tooltip.png) no-repeat;
}
/* Close Checkbox */
.upload-form #closeAfter {
    position: absolute;
    bottom: 25px;
    left: 25px;
}

.js .upload-form span.checkbox input[type=checkbox] {
    position: fixed;
    left: -99px;
}

.upload-form span.checkbox {
    position: relative;
    margin-top: 15px;
    float: left;
}

.js .upload-form span.checkbox {
    width: 21px;
    height: 21px;
    cursor: pointer;
    background: url(../img/checkbox.png) no-repeat 0 -21px;
}

.js .upload-form span.checked { background-position: 0 0; }

.upload-form span.checkbox label {
    position: absolute;
    top: 3px;
    left: 31px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 12px;
    color: #e4e4e4;
    white-space: nowrap;
}